<!--footer-->
<div class="container-fluid ">
  <div class="row no-gutters">
    <footer class="mt-5 col-12">
      <div class="container-fluid">
        <div id="footer-social-wrapper" class="row">
          <div class="col-12">
            <a href="https://www.facebook.com/islam.sayed8" class="social-icon">
              {{ partial "svg/facebook.svg" . }}
            </a>
            <a href="https://twitter.com/islam_sayed8" class="social-icon">
              {{ partial "svg/twitter.svg" . }}
            </a>
            <a
              href="https://www.linkedin.com/in/islam-sayed-ibrahim"
              class="social-icon"
            >
              {{ partial "svg/linkedin.svg" . }}
            </a>
            <p class="my-0 text-left">©2019 Copyright Islam Sayed.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
